<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenimiento de Vehículos - Grupo 10</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <nav class="menu">
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#mapa">Talleres</a></li>
        </ul>
    </nav>
</header>

<section id="inicio">
    <h1>Mantenimiento de Vehículos</h1>
    <h2>Talleres Mecánicos</h2>
    <h3>Servicios más comunes</h3>
</section>

<section id="servicios">
    <h2>Servicios realizados</h2>
    <table class="tabla">
        <tr>
            <th>Patente</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Descripción</th>
            <th>Fecha</th>
            <th>Costo</th>
            <th>Imagen</th>
        </tr>

        {% for d in datos %}
        <tr>
            <td>{{ d.patente }}</td>
            <td>{{ d.marca }}</td>
            <td>{{ d.modelo }}</td>
            <td>{{ d.anio }}</td>
            <td>{{ d.descripcion }}</td>
            <td>{{ d.fecha }}</td>
            <td>${{ d.costo }}</td>
            <td><img src="{{ url_for('static', filename='img/' ~ d.imagen) }}" width="120"></td>
        </tr>
        {% endfor %}
    </table>
</section>

<section id="mapa">
    <h2>Ubicación del taller</h2>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26782.441938290965!2d-60.71595682568355!3d-32.956150999999984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ad41b0982eb5%3A0x1eb1f8a0af22f29b!2sLeMans%20-%20Taller%20Chaper%C3%ADa%20y%20Pintura%20-%20Rosario!5e0!3m2!1ses!2sar!4v1761776521586!5m2!1ses!2sar"
        width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe>
</section>

<footer>
    <p>Trabajo Práctico Nº2 - Grupo 10 - Mantenimiento de Vehículos</p>
</footer>

</body>
</html>